<div class="dashboard-container">

    <div class="dashboard-wavy-chart">

        <div class="wavy-chart-title">
            <strong class="dark-blue-text-18">Hi Philip,</strong>
            <p class="light-grey-text-14">Checkout your latest projects and their progress.</p>
        </div>

        <hr class="hr-default">

        <div class="wavy-chart-content">

            <div class="flexible">

                <div class="wavy-chart-content-title">
                    <strong class="dark-blue-text-18">Wavy Lines</strong>
                    <p class="light-grey-text-14">Wavy Lines Working Hours</p>
                </div>

                <div class="wavy-chart-content-switcher">
                    <select name="wavy-chart" id="wavy-chart-select">
                        <option value="t_week">THIS WEEK</option>
                        <option value="t_day">THIS DAY</option>
                        <option value="t_month">THIS MONTH</option>
                    </select>
                </div>

            </div>

            <div class="wavy-chart-content-body">
                <ngx-charts-area-chart
                    [scheme]="colorScheme"
                    [results]="multi"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-area-chart>
            </div>

        </div>

    </div>

</div>
