.numbers-content {
    margin-top: 40px;
    position: relative;

    hr {
        margin-top: 30px;
    }

    .numbers-body {
        margin-top: 41px;
        height: 300px;
        display: grid;
        grid-template-columns: 1.1fr 1.5fr;
        grid-gap: 1rem;

        .numbers-left-content {
            background-color: white;
        }

        .numbers-right-content {
            background-color: white;
        }
    }

    .numbers-title {
        width: 60%;
    }

    .numbers-period-switcher {
        top: 10px;
        right: 0;
        position: absolute;

        label {
            color: #4f5f6f;
            font-size: 14px;
            font-weight: 100;
        }

        select {
            margin-left: 10px;
            border-radius: 25px;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #4f5f6f;

            background: #CDD8DC url('./../../../assets/svg/chevron-down.svg') 85% / 10% no-repeat;
            padding: 12px 20px 12px 20px;

            &:focus {outline:0;}

            option {
                border: none;
                outline: none;
            }
        }
    }
}
