<div id="app-toolbar">
    <div class="search">
        <button class="btn-search" type="button"><i class="fa fa-search"></i></button>
        <input type="text" class="inp-search" placeholder="Search">
    </div>
    <div class="user-profile">
        <div class="user-notifications">
            <button class="btn-icon"><i class="fa fa-bell-o"></i></button>
            <div class="user-notifications-counter">
                <p class="white-text">3</p>
            </div>
        </div>
        <div class="user-name">
            <strong class="dark-blue-text">Filip J.</strong>
        </div>
        <div class="user-menu">
            <button class="btn-icon"><i class="fa fa-angle-down"></i></button>
        </div>
        <div class="user-avatar">
            <strong class="text-white">F</strong>
        </div>
    </div>
</div>
