<ul class="app-sidebar">
    <li class="menu-home">
        <div class="menu-item">
            <i class="fa fa-address-book"></i>
            <p>Home</p>
        </div>
    </li>
    <li>
        <div class="menu-item">
            <i class="fa fa-clock-o"></i>
            <p>Time Management</p>
        </div>
    </li>
    <li>
        <div class="menu-item">
            <i class="fa fa-envelope-o"></i>
            <p>Inbox</p>
        </div>
    </li>
    <li>
        <div class="menu-item">
            <i class="fa fa-calendar-check-o"></i>
            <p>Calendar</p>
        </div>
    </li>
    <li class="active">
        <div class="menu-item">
            <i class="fa fa-line-chart"></i>
            <p>Analytics</p>
        </div>
    </li>
    <li>
        <div class="menu-item">
            <i class="fa fa-cog"></i>
            <p>Settings</p>
        </div>
    </li>
</ul>
